* {
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}
body {
	background: #BBB;
}
h1 {
	text-shadow: 1px 1px 2px #000;
	text-shadow: -1px -1px 0px #101010, 1px 1px 0px #505050;
	text-shadow: -1px -1px 0px #202020, 1px 1px 0px #fff;
	text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;
	text-transform: uppercase;
	font-size: 3.2em;
}
header {
	height: 200px;
	background: #CCC;
	text-align: center;
	position: relative;
	background: url(../images/45degreee_fabric.png);
	border-bottom: 2px solid black;
}
div#search-div {
	border-radius: 50px;
	border: 2px solid #333;
	background: white url(../images/magnifier.png) no-repeat 10px center;
	background-size: 1.8em;
	width: 900px;
	position: relative;
	left: 50%;
	bottom: 0;
	margin-left: -450px;
	text-align: right;
}
header input:focus {
	outline: none;
}
header input {
	border: none;
	text-align: left;
	width: 90%;
	margin-right: 30px;
	font-size: 30px;
	padding: 10px;
}
header input.search-start {
	color: #AAA;
}
section {
	min-height: 500px;
}
section#trash {
	float: left;
	background: green url(../images/trash-empty.png) no-repeat center center;
	width: 150px;
	position: fixed;
}
section#image-view {
	background: khaki;
	margin-left: 150px;
	border-left: 2px solid black;
}
footer {
	background: red;
}


/***********************************/
/* Bilder */
/***********************************/
section img {
	float: left;
	padding: 15px 15px 30px 15px;
}

