* {
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
	font-family: 'Delius Swash Caps', cursive;
}
body {
	background: khaki;
}
h1 {
	text-shadow: 1px 1px 0px #eee, 2px 2px 0px #707070;
	font-size: 1.4em;
	position: absolute;
	left: 50px;
	top: 20%;
	font-family: 'Delius Swash Caps', cursive;
}
header {
	height: 60px;
	background: #CCC;
	text-align: center;
	position: relative;
	background: url(../images/45degreee_fabric.png);
	border-bottom: 2px solid black;
	z-index: 20;
}
header img#loading-image {
	position: absolute;
	top: 10%;
	right: 20px;
}
div.textbox-container {
	border-radius: 50px;
	border: 2px solid #333;
	background-size: 1.8em;
	text-align: right;
}
div#search-container {
	position: absolute;
	background: white url(../images/magnifier.png) no-repeat 10px center;
	top: 20%;
	left: 50%;
	width: 900px;
	margin-left: -450px;
}
div#tag-edit-container {
    margin-top: 3px;
    margin-right:50px;
    background: white;
}
div#trash-container {
    width: 30px;
    height: 30px;
    float: right;
	background: #111 url(../images/trash-empty.png) no-repeat center center;
}

input {
	border: none;
	text-align: left;
	font-size: 1.1em;
	padding: 10px;
	width: 90%;
	margin-right: 30px;
}
header input.search-start {
	color: #AAA;
}
input:focus {
	outline: none;
}
section {
}
section#image-view {
	background: url(../images/white_texture.png);
}
section#batch-div {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 40px;
	background: #333;
}
footer {
	background: red;
}


/***********************************/
/* Bilder */
/***********************************/
section img {
	float: left;
	margin: 15px 15px 30px 15px;
	border: 2px solid black;
	box-shadow: 2px 2px 3px #666;
	border-radius: 2px;
}
