<section>
<div class="imagebox">
	<img src="{{model.attributes.image}}" alt="{{model.attributes.caption}}" />
</div>
<div class="propbox">
    <h2>Image Properties</h2>
    <dl class="prop">
        <dt>Caption</dt>
			<dd class="caption" data-inputtype="input">{{model.attributes.properties.caption}}</dd>
        <dt>Rating</dt>
			<dd class="rating"></dd>
		<dt>Description</dt>
        	<dd class="description" data-inputtype="textarea">{{model.attributes.properties.description}}</dd>
		<dt>Location</dt>
        	<dd class="location" data-inputtype="input">{{model.attributes.properties.location}}</dd>
    </dl class="meta">
    <h2>Image Metadata</h2>
    <dl>
        {{#metaHTML}}{{/metaHTML}}
    </dl>
</div>
</section>
