<section>
<div class="imagebox">
	<img src="{{model.attributes.image}}" alt="{{model.attributes.caption}}" />
</div>
<div class="propbox">
		<h2>Image Properties</h2>
			<dl class="prop">
				<dt>Rating</dt>
				<dd class="rating"></dd>

				<dt>Caption</dt>
				<dd class="caption">
				<input data-key="caption" tabindex="0"
					value='{{model.attributes.properties.caption}}'/>
				</dd>

				<dt>Description</dt>
				<dd class="description">
				<textarea data-key="description">
					{{model.attributes.properties.description}}</textarea>
				</dd>

				<dt>Location</dt>
				<dd class="location">
				<input data-key="location"
					value="{{model.attributes.properties.location}}"/>
				</dd>
			</dl>

		<h2>Image Metadata</h2>
		<dl class="meta">
				{{#metaHTML}}{{/metaHTML}}
		</dl>
</div>
</section>
