	<header>
		<section id="title-bar">
			<a id="title" href="/" title="go home">
				<h1 class="logo">Tagshot.</h1>
			</a>
			<div id="search-container" class="textbox-container">
				<input type="text" id="search-box" class='textbox' tabIndex="1" />
				<%= image_tag "loading.gif", :id => 'loading-image' %>
			</div>
			<br style="clear: both;" />
			<button id="show-options" tabIndex="-1"></button>
			<div id="tags-saved">Tags saved.</div>
		</section>
		<section id="options-container">
			<div id="thumbnail-size-container">
				<span>Set tile size: </span>
				<div id="thumbnail-size-slider"></div>
			</div>
			<div id="shortcut-explanation">
				<table border="2">
					<tr class="short-explanation-header">
						<td colspan="2">Shortcuts</td>
						<td class="empty">&nbsp;</td>
						<td colspan="2">Search hints</td>
					</tr>
					<tr>
						<td>Space</td>
						<td>Show preview</td>
						<td class="empty">&nbsp;</td>
						<td>3*</td>
						<td>Search for three or more stars</td>
					</tr>
					<tr>
						<td>Enter</td>
						<td>Another shortcut</td>
						<td class="empty">&nbsp;</td>
						<td>=3*</td>
						<td>Search for exactly stars</td>
					</tr>
				</table>
			</div>
			<br style="clear: both;" />
		</section>
	</header>

	<section id="backbone-main-view"></section>

	<footer id="tag-footer" class="header-footer">
		<div id="trash-container"></div>
		<div id="tag-edit-container" class="textbox-container">
			<input type="text" value="" id="tag-box" class='textbox' tabindex="3">
		</div>
	</footer>
	
	<%= mustache_templates %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'></link>

