    <section id="backbone-main-view">
	</section>
	<%= mustache_templates %>

  <%= javascript_include_tag "application" %>

	<!-- mehrere fonts, könnt mal bisschen rumspielen, welche euch am besten gefällt -->
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Delius+Swash+Caps' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Coda' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Linden+Hill' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy|Lora:400,700|Gentium+Basic:400,700|Cantarell:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Prociono' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans:700,400' rel='stylesheet' type='text/css'>
	
