	<header>
		<section id="title-bar">
			<a id="title" href="/" title="go home">
				<h1 class="logo">Tagshot.</h1>
			</a>
			<div id="search-container" class="textbox-container">
				<input type="text" id="search-box" class='textbox' tabIndex="1" />
				<%= image_tag "loading.gif", :id => 'loading-image' %>
			</div>
			<br style="clear: both;" />
			<button id="show-options" tabIndex="-1"></button>
			<div id="message-board" class="message">Tags saved.</div>
		</section>
		<section id="options-container">
			<div id="thumbnail-size-container">
				<span>Set tile size: </span>
				<div id="thumbnail-size-slider"></div>
			</div>
			</div>
			<div class="meta-links">
				<a href="/session/destroy">logout</a>
				<a href="/help" target="_blank">help'n shortcuts</a>
				<a href="/admin">admin</a>
			</div>
			<div class="source-select">
			<br style="clear: both;" />
		</section>
	</header>

	<section id="backbone-main-view"></section>

	<footer id="tag-footer" class="header-footer">
		<div id="commands-container">
			<a href="#" class="command rotate-left" id="rotate-image-left"></a>
			<a href="#" class="command rotate-right" id="rotate-image-right"></a>
		</div>
		<div id="tag-edit-container" class="textbox-container">
			<input type="text" value="" id="tag-box" class='textbox' tabindex="3">
		</div>
	</footer>
	
	<%= mustache_templates %>
	<%= javascript_include_tag "application" %>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'></link>

