//=require reset

/***********************************/
/* General */
/***********************************/


* {
	padding: 0;
	margin: 0;
	/* fonts zum rumspielen, 
	 * welche gefällt euch am besten? 
	 * Lato: Willi
	   Lato: Stefan
	 */
	
	font-family: 'Lato', sans-serif;	/* Willis Favorit */
/*	font-family: "Ubuntu", sans-serif;
	font-family: 'Delius Swash Caps', cursive;
	font-family: 'Coda', cursive;
	font-family: Georgia;
	font-family: 'Linden Hill', serif;
	font-family: 'Lora', serif;
	font-family: 'Gentium Basic', serif;
	font-family: 'Cantarell', sans-serif;
	font-family: 'Sorts Mill Goudy', serif;
	font-family: 'Prociono', serif;
	font-family: 'Droid Sans', serif;*/
}

html, body { height: 100%; }
body {
	/* always show scrollbars */
	overflow-y: scroll;
	height: 101%;

	color: #333;
	background: #ddd;
}
a {
   outline: 0;
   -moz-transition: color 0.7s linear 0s;
    color: #C60;
}


/***********************************/
/* Header, Footer */
/***********************************/

header {
	text-align: center;
	padding: 8px 0;
	position: relative;
	border-top: 3px solid #444 !important;
}
header, footer {
	background: -moz-linear-gradient(top,  rgba(237,237,237,0.8) 0%, rgba(204,204,204,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.8)), color-stop(100%,rgba(204,204,204,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccededed', endColorstr='#d9cccccc',GradientType=0 ); /* IE6-9 */

	background: #DDDDDD;
						
	z-index: 20;
	box-shadow: 0px 0px 10px #000;

	text-align: center;
	/*background: url(../images/45degreee_fabric.png);*/
	padding: 8px 0;
	position: relative;
	border-top: 2px solid #444;
	left: 0;
	bottom: 0;
}

h1.logo {
	color: #333;
	//text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #707070;
	font-size: 1.8em;
	position: relative;
	margin: 5px 40px 0 20px; 
	float: left;
	text-transform: uppercase;
}

h1.logo:hover {
	color: black;
	cursor: pointer;
}

a#title{
	text-decoration: none;
}

/***********************************/
/* Search/Tag Input Fields*/
/***********************************/

div.textbox-container {
	border-radius: 10px;
	border: 2px solid #333;
}
div#search-container {
	position: relative;
	float: left;
	background: white image-url("zoom_icon_16.png") no-repeat 10px center;
	background: white image-url("searchbox.png") no-repeat 0px center;
	width: 900px;
}
div#tag-edit-container {
	margin-top: 4px;
	margin-right: 100px;
	margin-left: 6px;
	background: white image-url("tag_icon_16.png") no-repeat 10px center;
	padding: 0 22px 0 15px;
}

.textbox {
	border: none;
	text-align: left;
	padding: 4px;
	margin-right: 30px;
	margin-left: 50px;
	font-size: 1.0em;
	width: 95%;		/* Fits perfectly if input size is fixed */
}

header input.search-start {
	color: #AAA;
}
input:focus {
	outline: none;
}

img#loading-image {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 26px;
	margin-top: -13px;
	visibility: hidden;
}


/***********************************/
/* Tag Autocompletion */
/***********************************/

.autocompletion-list {
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
	min-width: 400px;
	position: absolute;
	z-index: 999;
}
.textbox {
	height: 33px;
}
.textbox li {
	float: left;
	margin: 5px 10px;
	display: block;
	/*height: 100%;
	padding: 4px;*/
}
.textbox li:first-child {
	margin-left: 10px;
}
.textbox li.tag {
	border: 1px solid #CCD5E4;
	border-radius: 5px;
	padding: 1px 5px 1px 10px;
	background: #EFF2F7;
	color: black;
	position: relative;
}
.textbox li.tag span {
	position: relative;
	top: -1px;
}
.textbox li.tag a {
	position: relative;
	top: 2px;
	margin-left: 4px;
	border-radius: 2px;
	display: inline-block;
	width: 16px;
	height:	16px; 
	background: url("cross.png") center center no-repeat;
	background-size: 14px;
	border: none;
}
.textbox li.tag a:hover, .textbox li.tagautocomplete-to-be-removed {
	background-color: Crimson;
}
.textbox input {
}
.textbox li {
}
input.tagautocomplete-clear-textbox {
	border: none;
	height: 100%;
	font-size: 1em;
	padding: 0;
	margin: 0;
	width: 100%;
}


/***********************************/
/* Option Picker */
/***********************************/

button#show-options {
	position: absolute;
	font-size: 20px;
	bottom: 12px;
	right: 8px;
	width: 40px;
	height: 40px;
	border: none;
/*	background: transparent image-url("show_toggle.png") no-repeat;*/
	cursor: pointer;
}
button#show-options:after {
	content: '▼';
}
button#show-options:hover {
	background: #333333;
	color: white;
	border-radius: 3px;
}
button#show-options.open:after {
	content: '▲';
}

div#tags-saved {
	position: absolute;
	right: 100px;
	padding: 6px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	bottom: 0px;
	background: green;
	color: white;
	display: none;
}

section#options-container {
	/*background: darkgrey url(../images/45degreee_dark_fabric.png);*/
	background: #444;
	color: white;
	padding: 10px 20px;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
}
div#thumbnail-size-container {
	font-size: 1.0em;
	float: left;
	margin-left: 20px;
}
div#thumbnail-size-slider {
	font-size: 12px;
	width: 500px;
}


/***********************************/
/* Main View */
/***********************************/


/***********************************/
/* backbone-gallery-view */
/***********************************/

#backbone-gallery-view {
	/*background: url(); */
}

/* former li.image-view button */
#backbone-gallery-view .image-frame {
	display: block;
	background: white;
	float: left;
	margin: 15px 15px 30px 15px;
	margin: 8px;
	/*border: 2px solid black;*/
	box-shadow: 2px 2px 10px #333;
	border: none;
	padding: 0;
	position: relative;
	-webkit-user-select: none;
}
#backbone-gallery-view .image-frame:hover:not(.selected):not(:focus) {
	box-shadow: 4px 4px 16px #222;
	outline: none;
}
#backbone-gallery-view .image-frame.selected:not(:focus) {
	box-shadow: 0 0 5px 5px red;
	outline: none;
}

#backbone-gallery-view .image-frame:focus {
	box-shadow: 0 0 5px 5px orange;
}
#backbone-gallery-view div.image {
	overflow: hidden;
	margin: 2px auto;
	position: relative;
	height: 200px;
	width:  320px;
	
	min-height: 40px;
	max-height: 500px;
}
#backbone-gallery-view img {
	max-width: 100%;
	max-height: 100%;
}
#backbone-gallery-view .image-frame div.more_infos {
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 2px 4px 2px;
	padding-bottom: 2px; 
}
#backbone-gallery-view .image-frame div.star-me {
	text-align: center;
	font-size: 1.7em;
}

#backbone-gallery-view .image-frame:hover div.star-me {
	display: block;
}
.star-me span{
	text-decoration: none;
	color: white;
}

#more {
	margin: 20px auto 10px auto;
	height: 30px;
	width: 300px;
	font-size: 1em;
	display: block;
	cursor: pointer;
}

.autocompletion-list li {
	padding: 10px;
}
.autocompletion-list li.autocomplete-selected {
	background: #3F4C6B;
	color: white;
}

/**************************************/
/* Tag it bar + Footer specialization
/**************************************/

footer .textbox {
	height: 29px;
	padding: 4px 0;
}

footer{
	display: none;
	border: none;			/* Override */
	position: fixed;
	padding: 4px 0px 8px 0px;			/* Override from header */
	border-bottom: 2px solid #444;
	width: 100%;
	bottom: 0px;
}

div#trash-container {
	width: 45px;
	height: 33px;
	float: right;
	margin-top: 8px;
	margin-right: 8px;
	background: transparent image-url("trash-empty.png") no-repeat center center;
	background-size: 2em;
}

/***********************************/
/* backbone-detail-viewed image view
/***********************************/

#backbone-detail-view > section {
	align: center;
	position: absolute;
	top: 60px; bottom: 60px;
	left: 0; right: 0;
	padding: 10px 440px 10px 10px;
}

#backbone-detail-view > section h2 {
	font-size: 1.1em;
	padding: 9px 0 6px;
	font-weight: normal;
}

#backbone-detail-view > section .imagebox {
	height: 100%;
	text-align: center;
}

#backbone-detail-view > section .imagebox img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	border: 2px solid #333;
	background: #fff;
	padding: 1px;
}

#backbone-detail-view > section .propbox {
	padding: 0 14px;
	position: absolute;
	top: 0; bottom: 0;
	right: 0;
	width: 400px;
	
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	overflow: auto;
}

#backbone-detail-view > section .propbox dl {
	// padding-left: 90px;
	margin-bottom: 10px;
}

#backbone-detail-view > section .propbox dt {
	font-size: 0.65em;
	color: #888;
	// width: 85px;
	// float: left;
	// margin: 2px 0 0 -90px;
}

#backbone-detail-view > section .propbox dd {
	// height: 22px;
	margin: 0 0 2px 30px;
	font-size: 0.85em;
	color: #fff;
}

.star-me > a {
	color: #fff;
	text-decoration: none;
}
.star-me {
	cursor: pointer;
}
