//=require reset

/***********************************/
/* General */
/***********************************/


* {
	padding: 0;
	margin: 0;
	
	font-family: 'Ubuntu', sans-serif;
/*	font-family: "Ubuntu", sans-serif;
	font-family: 'Delius Swash Caps', cursive;
	font-family: 'Coda', cursive;
	font-family: Georgia;
	font-family: 'Linden Hill', serif;
	font-family: 'Lora', serif;
	font-family: 'Gentium Basic', serif;
	font-family: 'Cantarell', sans-serif;
	font-family: 'Sorts Mill Goudy', serif;
	font-family: 'Prociono', serif;
	font-family: 'Droid Sans', serif;*/
}

html, body { height: 100%; }
body {
	/* always show scrollbars */
	overflow-y: scroll;
	height: 101%;

	color: #333;
	// background: #ddd;
	background: #676767;
}
a {
   outline: 0;
   -moz-transition: color 0.7s linear 0s;
    color: #C60;
}


/***********************************/
/* Header, Footer */
/***********************************/

header, footer {
	background: -moz-linear-gradient(top,  rgba(237,237,237,0.8) 0%, rgba(204,204,204,0.85) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,237,237,0.8)), color-stop(100%,rgba(204,204,204,0.85))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(237,237,237,0.8) 0%,rgba(204,204,204,0.85) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccededed', endColorstr='#d9cccccc',GradientType=0 ); /* IE6-9 */

	background: #DDDDDD;
						
	z-index: 20;
	box-shadow: 0px 0px 10px #000;

	text-align: center;
	/*background: url(../images/45degreee_fabric.png);*/
	padding: 8px 0;
	position: relative;
	border-top: 2px solid #444;
	left: 0;
	bottom: 0;
}

header {
	text-align: center;
	padding: 8px 0px 0px 0px;
	position: relative;
	border-top: 3px solid #444 !important;
}

#title-bar {
	padding-bottom: 8px;
}

h1.logo {
	color: #333;
	//text-shadow: 1px 1px 0px #ddd, 2px 2px 0px #ddd, 3px 3px 0px #707070;
	font-size: 1.8em;
	position: relative;
	margin: 5px 40px 0 20px; 
	float: left;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
}

h1.logo:hover {
	color: black;
	cursor: pointer;
}

a#title{
	text-decoration: none;
}

/***********************************/
/* Search/Tag Input Fields*/
/***********************************/

div.textbox-container {
	border-radius: 10px;
	border: 2px solid #333;
}
div#search-container {
	position: relative;
	float: left;
	background: white image-url("zoom_icon_16.png") no-repeat 10px center;
	background: white image-url("searchbox.png") no-repeat 0px center;
	min-width: 450px;
	max-width: 900px;
	padding-left: 50px;

	.tag { margin: 8px 0 0 5px; }
}
div#tag-edit-container {
	margin-top: 4px;
	margin-right: 100px;
	margin-left: 6px;
	background: white image-url("tag_icon_16.png") no-repeat 10px center;
	padding: 0 10px 0 38px;
}
input#search-box {
	padding: 10px;
}
input#tag-box {
	padding: 8px 8px 4px 8px;
	background-color: #fff;
}

.textbox {
	border: none;
	text-align: left;
	// padding: 4px;
	margin: 0;
	font-size: 1.0em;
	width: 95%;		/* Fits perfectly if input size is fixed */
}

header input.search-start {
	color: #AAA;
}
input:focus {
	outline: none;
}

img#loading-image {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 26px;
	margin-top: -13px;
	display: none;
}


/***********************************/
/* Tag Autocompletion */
/***********************************/

.autocompletion-list {
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(233,233,206,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(233,233,206,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* IE10+ */
	background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#e9e9ce',GradientType=0 ); /* IE6-9 */
	min-width: 400px;
	position: absolute;
	z-index: 999;
}
.textbox {
	height: 33px;
}
.textbox li {
	float: left;
	display: block;
}
// .textbox li:first-child {
// 	margin-left: 10px;
// }
.textbox li.tag {
	border: 1px solid #CCD5E4;
	border-radius: 5px;
	padding: 1px 5px 1px 7px;
	margin: 5px 5px 5px 0;
	background: #EFF2F7;
	color: black;
	position: relative;
}
.textbox li.tag span {
	position: relative;
	top: -1px;
}
.textbox li.tag a {
	position: relative;
	top: 2px;
	margin-left: 4px;
	border-radius: 2px;
	display: inline-block;
	width: 16px;
	height:	16px; 
	background: url("cross.png") center center no-repeat;
	background-size: 14px;
	border: none;
}
.textbox li.tag a:hover, .textbox li.tagautocomplete-to-be-removed {
	background-color: Crimson;
}
input.tagautocomplete-clear-textbox {
	border: none;
	height: 100%;
	font-size: 14px;
	padding: 2px 0 0 5px;
	padding: 5px 5px;
	margin: 0;
	width: 100%;
}


/***********************************/
/* Option Picker */
/***********************************/

button#show-options {
	position: absolute;
	font-size: 20px;
	top: 10px;
	right: 8px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: transparent;
/*	background: transparent image-url("show_toggle.png") no-repeat;*/
	cursor: pointer;
}
button#show-options:after {
	content: '▼';
}
button#show-options:hover {
	background: #333333;
	color: white;
	border-radius: 3px;
}
button#show-options.open:after {
	content: '▲';
}

div#tags-saved {
	position: fixed;
	right: 100px;
	padding: 6px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	top: 0px;
	background: green;
	color: white;
	display: none;
}

section#options-container {
	/*background: darkgrey url(../images/45degreee_dark_fabric.png);*/
	background: #444;
	color: white;
	padding: 10px 20px;
	border-top: 3px solid #333;
	border-bottom: 3px solid #333;
	
	padding-top: 8px;
	height: 45px;
	display: none;
	position: relative;
}
div#thumbnail-size-container {
	font-size: 1.0em;
	float: left;
	margin-left: 20px;
}
div#thumbnail-size-slider {
	font-size: 12px;
	width: 500px;
}

div#shortcut-explanation {
	position: absolute;
	top: 0px;
	left: 600px;
	right: 0px;
	bottom: 0px;
}
div#shortcut-explanation table {
	height: 45px;
	position: absolute;
	right: 20px;
}
div#shortcut-explanation tr {
	height: 15px;
}
div#shortcut-explanation tr.short-explanation-header td {
	background: #111;
}
div#shortcut-explanation table td {
	border: 1px solid black;
	padding: 0px 30px;
	background: #666;
}
div#shortcut-explanation td.empty {
	border-top: none;
	border-bottom: none;
	background: none !important;
}
/***********************************/
/* Main View */
/***********************************/

@mixin transition-property($property) {
	-webkit-transition-property: $property;
	-moz-transition-property: $property;
	-o-transition-property: $property;
	transition-property: $property;
}

@mixin transition-duration($duration) {
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}


/***********************************/
/* backbone-gallery-view */
/***********************************/
#backbone-gallery-view {
	background-color: #676767;
	text-align: center;
	padding-bottom: 70px;

	&.photos-only {
		div.image { bottom: 0; }
		div.more_infos { 
  			@include transition-property(opacity);
  			@include transition-duration(1s);
			opacity: 0; }
	}

	.image-frame {
		display: block;
		float: left;
		margin: 7px;
		outline: none;
		overflow: visible;
		position: relative;
		
		& img:hover, &:focus img { 
			border: 4px solid #aaa;
			border-radius: 6px; 
			margin: 1px; 
			padding: 1px; }
		&.selected img, &.selected img:hover {
			border: 4px solid #f8d450;
			border-radius: 6px; 
			margin: 1px; }
		&.selected:focus img {
			border: 4px solid darken(#f8d450, 10%);
			border-radius: 6px; 
			margin: 1px; 
		}
		&.smaller .more_infos {
  			@include transition-property(opacity);
  			@include transition-duration(1s);
			opacity: 0; }
		&.smaller div.image { bottom: 0; }
	}

	div.image {
		text-align: center;
		position: absolute;
		width: 100%;
		top: 0;
		bottom: 33px;

		img { 
			max-width: 100%; 
			max-height: 100%;
			border: 0;
			padding: 1px; 
			margin: 5px;
			box-shadow: 1px 1px 5px #333;
		}
	}

	div.more_infos {
		text-align: center;
		display: block;
		background-color: rgba(0,0,0,0.4);
		border-radius: 5px;
		color: #eee;
		padding: 0 5px 0 5px;
		margin: 0 5px 0 5px;
		height: 19px;
		overflow: hidden;
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;

  		@include transition-property(opacity);
  		@include transition-duration(1s);
		opacity: 1;

		.star-me {
			a { color: inherit; text-decoration: none; }
			float: left;
			font-size: 14px;
		}

		.tags {
			font-family: Verdana, Arial;
			padding-top: 3px;
			font-size: 10px;
			text-align: right;
			overflow: hidden;
			height: 18px;
			text-overflow: ellipsis;
		}
	}

	#more { 
		margin: 20px;
		padding: 6px 80px;}
	#more:disabled { display: none };
}

/**************************************/
/* auto completion
/**************************************/

.autocompletion-list li {
	padding: 6px;
	border: 1px solid #bbb;
	border-top-width: 0;
	
	&:first-child {
		border-width: 1px;
	}
	&.autocomplete-selected {
		background: #3F4C6B;
		color: white; 
	}
}

/**************************************/
/* Tag it bar + Footer specialization
/**************************************/

footer .textbox {
	height: 29px;
	padding: 0px 0 4px 0;
}

footer{
	display: none;
	border: none;			/* Override */
	position: fixed;
	padding: 4px 0px 8px 0px;			/* Override from header */
	border-bottom: 2px solid #444;
	width: 100%;
	bottom: 0px;
}

div#trash-container {
	width: 45px;
	height: 33px;
	float: right;
	margin-top: 8px;
	margin-right: 8px;
	background: transparent image-url("trash-empty.png") no-repeat center center;
	background-size: 2em;
}

/***********************************/
/* backbone-detail-viewed image view
/***********************************/

#backbone-detail-view > section {
	align: center;
	position: absolute;
	top: 60px; bottom: 60px;
	left: 0; right: 0;
	padding: 10px 440px 10px 10px;
}

#backbone-detail-view > section h2 {
	font-size: 1.1em;
	padding: 9px 0 6px;
	font-weight: normal;
}

#backbone-detail-view > section .imagebox {
	height: 100%;
	text-align: center;
}

#backbone-detail-view > section .imagebox img {
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	border: 2px solid #333;
	background: #fff;
	padding: 1px;
}

#backbone-detail-view > section .propbox {
	padding: 0 14px;
	position: absolute;
	top: 0; bottom: 0;
	right: 0;
	width: 400px;
	
	background-color: rgba(0,0,0,0.7);
	color: #fff;
	overflow: auto;
}

#backbone-detail-view > section .propbox dl {
	// padding-left: 90px;
	margin-bottom: 10px;
}

#backbone-detail-view > section .propbox dt {
	font-size: 0.65em;
	color: #888;
	// width: 85px;
	// float: left;
	// margin: 2px 0 0 -90px;
}

#backbone-detail-view > section .propbox dd {
	padding: 4px 8px;
	margin: 2px 0 2px 30px;
	font-size: 0.85em;
	color: #fff;
	height: 15px;
}

#backbone-detail-view > section .propbox dd input,
#backbone-detail-view > section .propbox dd textarea, {
	background: #333;
	color: #fff;
	padding: 4px 8px;
	margin: -4px 10px 0px 0;
	font-size: 1em;
	width: 250px;
	float: left;
	border: 0px none;
}

#backbone-detail-view > section .propbox dd.description,
#backbone-detail-view > section .propbox dd textarea {
	height: 60px;
}


#backbone-detail-view > section .propbox dd.hoverEdit {
	background-color: #333;
	cursor: text;
	width: 250px;
}

.rating > a {
	color: #fff;
	text-decoration: none;
	font-size: 1.2em;
	width: 6px;
}
.rating {
	cursor: pointer;
}
