
#login {
	margin: 40px auto 0 auto;
	width: 400px;
	padding: 10px;

	form {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 15px;
		box-shadow: 0 0 4px #fff;
		padding: 10px;
		margin: 0 0 5px 0;
	}

	h1 {
		font-size: 1.7em;
	}

	p { 
		text-align: center;
		font-size: 0.6em;
		color: #aaa;
	}
}